<VirtualHost *:80>
        ServerAdmin webmaster@localhost
        DocumentRoot {{ document_root }}/drupal7x

        <Directory {{ document_root }}/drupal7x>
          Options Indexes FollowSymlinks MultiViews
          AllowOverride ALL
          Require all granted
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
